<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield %>

    <% if @title != "Sinatra Web Games" %>
      <a href="./index">Back to main</a>
    <% end %>

  </body>
</html>
