<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="<%= url("css#{request.path_info}.css")%>">
  </head>
  <body>
    <%= yield %>

    <% if @title != "Sinatra Web Games" %>
      <a href="./index">Back to main</a>
    <% end %>

  </body>
</html>
